{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
        <div class="listing">
            <div id="listing-image">
                <img src={{ listing.image }}>
            </div>
            <div>
                <h4><a id="listing-title" href="{% url 'listing' listing.title %}">{{ listing.title }}</a></h4>
                <p id="listing-bid">Price: ${{ listing.starting_bid }}</p>
                <p id="listing-description">{{ listing.description }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}