{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <a class="btn btn-primary" href="{% url 'watchlist' listing.id %}" value = {{ listing.id }} name="watchlist">
        Add to Watchlist
    </a>
    <div>
        <img src={{ listing.image }}>
    </div>
    <p> {{ listing.description }}</p>
    {% if bid_data.initial_bid is False %}
        <h2>${{ bid_data.bid_amount }}</h2>
    {% else %}
        <h2>${{ current_bid }}</h2>
    {% endif %}
    <form action="{% url 'listing' listing.title %}" method="post">
        {% csrf_token %}
        {{ bidForm.bid_amount }}<br><br>
        <button class="btn btn-primary" type="submit" name="new_bid">Place Bid</button>
    </form>
    <h3>Details</h3>
    <ul>
        <li>Created by: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>
{% endblock %}