{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <a class="btn btn-primary" href="{% url watchlist listing.id%}" value = {{ listing.id }} name="watchlist">
        Add to Watchlist
    </a>
    <div>
        <img src={{ listing.image }}>
    </div>
    <p> {{ listing.description }}</p>
    <h2>{{ listing.starting_bid }}</h2>
    <form>
        {{ bidForm.bid_amount }}
        <button type="submit" name="new_bid"></button>
    </form>
    <h3>Details</h3>
    <ul>
        <li>Created by: {{ listing.user }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>

{% endblock %}